@font-face {
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%; /* sticky footer */
  min-height: 100%; /* sticky footer */
}

body {
  margin: 0;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;

  background-color: #feafc3;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.page-background-pink {
  background-color: #feafc3;
}

.page-background-blue {
  background-color: #69a9ff;
}

.page-background-yellow {
  background-color: #fcc850;
}

.container {
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */

  margin: 0 auto;
  width: 1170px;
  min-height: 100%; /* sticky footer */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main {
  flex-grow: 1; /* sticky footer */
}
