@font-face {
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%; /* sticky footer */
  min-height: 100%; /* sticky footer */
}

body {
  margin: 0;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;

  background-color: #feafc3;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.page-background-pink {
  background-color: #feafc3;
}

.page-background-blue {
  background-color: #69a9ff;
}

.page-background-yellow {
  background-color: #fcc850;
}

.container {
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */

  margin: 0 auto;
  width: 1170px;
  min-height: 100%; /* sticky footer */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  display: inline-block;

  padding: 12px 32px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  text-align: center;
  text-decoration: none;

  background-color: #fcfcfc;
  border: none;
  border-radius: 22px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1),
              0 0 0 4px rgba(252, 252, 252, 0.4);
  cursor: pointer;
}

.button-secondary {
  color: #fcfcfc;
  background-color: #ff2f64;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1),
              0 0 0 4px rgba(255, 47, 100, 0.3);
}

.input-field {
  padding: 13px 15px;
  width: 100%;
  height: 48px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #2d3440;

  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.input-field::placeholder {
  color: #b9b9b9;
}

.title {
  margin: 0;

  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  color: #2d3440;
}

.title-small {
  margin: 0;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #2d3440;
}

/* header */
.header {
  min-height: 104px;
  padding: 24px 0;

  line-height: 20px;
  color: #2d3440;
}

.nav {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
}

.logo {
  display: block;
  width: 137px;
}

.logo img {
  display: block;
}

.nav-logo {
  margin-right: 16px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 510px;
}

.nav-item {
  padding: 9px 0;
}

.nav-link {
  display: block;
  padding: 8px 16px;

  color: inherit;
  text-decoration: none;
}

.nav-link-catalog {
  position: relative;
  padding-right: 38px;
}

.nav-link-catalog::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  width: 16px;
  height: 16px;

  -webkit-mask-image: url("../images/icons/arrow.svg");
  mask-image: url("../images/icons/arrow.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 16px 16px;
  mask-size: 16px 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  background-color: #2d3440;
}

.popup-control {
  position: relative;
}

.popup {
  z-index: 2;
  position: absolute;
  margin-top: 8.14px;

  display: none;

  background-color: #fcfcfc;
  border-radius: 4px;
}

.popup-control:hover .popup,
.popup-control:focus-within .popup {
  display: block;
}

.catalog-popup {
  left: 1.5px;

  width: 135px;
  padding: 8px 0;

  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.catalog-popup-link {
  display: block;
  padding: 6px 16px;
  padding-right: 13px;

  font-size: 14px;
  color: inherit;
  text-decoration: none;
}

.catalog-popup-item:first-child {
  position: relative;
}

.catalog-popup-item:first-child::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);

  width: 103px;
  height: 1px;
  background-color: #b9b9b9;
}

.catalog-popup-item:first-child .catalog-popup-link {
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-weight: 700;
}

.nav-phone {
  margin-right: 16px;
  padding: 6px 0;

  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  max-width: 315px;
}

.user-menu-item {
  padding: 9px 0;
}

.user-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  min-width: 32px;
  min-height: 32px;
  padding: 6px 16px;

  font-size: 14px;
  color: inherit;
  text-decoration: none;

  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 16px;
}

.user-menu-link-search {
  padding: 8px;
}

.user-menu-icon {
  width: 16px;
  height: 16px;

  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 16px 16px;
  mask-size: 16px 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  background-color: #2d3440;
}

.user-menu-search-icon {
  -webkit-mask-image: url("../images/icons/search.svg");
  mask-image: url("../images/icons/search.svg");
}

.user-menu-login-icon {
  -webkit-mask-image: url("../images/icons/login.svg");
  mask-image: url("../images/icons/login.svg");
}

.user-menu-cart-icon {
  -webkit-mask-image: url("../images/icons/cart.svg");
  mask-image: url("../images/icons/cart.svg");
}

.search-popup {
  right: 0;

  padding: 24px 16px;
  width: 356px;

  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.login-popup {
  right: -1px;

  padding: 48px;
  padding-bottom: 52px;
  width: 420px;

  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.login-form-title {
  margin-bottom: 32px;
}

.login-form {
  display: grid;
  grid-template-columns: 113px 1fr;
  column-gap: 23px;
}

.login-form-group {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  border: none;
}

.login-form-link {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-underline-offset: 4px;
}

.login-form-link:not(:last-child) {
  margin-bottom: 4px;
}

.cart-popup {
  right: -1px;

  padding: 48px;
  min-width: 288px;

  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.cart-popup-full .cart-content-empty,
.cart-popup-empty .cart-content-full {
  display: none;
}

.cart-popup-empty {
  width: 288px;
  padding: 48px 0;
}

.cart-content-empty .cart-title {
  text-align: center;
}

.cart-popup-full {
  width: 441px;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-bottom: 32px;
  padding: 32px 0 31px;

  border-bottom: 1px solid #e7e7e7;
}

.cart-item {
  display: grid;
  grid-template-columns: 46px 1fr auto auto;
  align-items: center;
  column-gap: 16px;
}

.cart-item-link {
  display: inline-block;
  margin-bottom: 4px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: inherit;
  text-decoration: none;
}

.cart-item-img {
  width: 46px;
}

.cart-item-img img {
  display: block;
}

.cart-item-desc {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
}

.cart-item-price {
  margin-top: 1px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.cart-item-button {
  position: relative;

  margin-left: 33px;
  padding: 0;
  width: 16px;
  height: 16px;

  background-color: unset;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.cart-checkout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-button {
  max-width: 198px;
}

.cart-total {
  margin-top: 3px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

/* main */
.main {
  flex-grow: 1; /* sticky footer */
}

.main-index {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.hero {
  padding-top: 21px;
}

.slider {
  position: relative;

  display: grid;
  grid-template-columns: 525px 1fr;
  align-items: center;
  column-gap: 36px;

  min-height: 507px;
}

.slider-content-list {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 70px;
  padding-right: 5px;
}

.slider-content-item {
  display: none;
}

.slider-content-item-active {
  display: block;
}

.slider-title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  color: #2d3440;
}

.slider-desc {
  margin: 0;
  margin-bottom: 48px;

  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
}

.slider-control {
  position: relative;
}

.slider-images {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  column-gap: 41px;
}

.slider-img {
  position: relative;

  margin-top: 9px;
  width: 100px;
  height: 150px;

  opacity: 0.4;
}

.slider-img::before {
  z-index: -1;
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.35);
}

.slider-img-active {
  order: -1;

  margin-top: 0;
  margin-right: 15px;
  width: 312px;
  height: 507px;

  opacity: 1;
}

.slider-img-active::before {
  width: 312px;
  height: 312px;
}

.slider-img img {
  display: block;
  width: auto;
  height: 100%;
}

.slider-arrows {
  position: absolute;
  top: 50%;
  left: -19px;
  transform: translateY(-50%);

  display: flex;
  justify-content: space-between;

  width: 350px;
}

.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: 38px;
  height: 38px;

  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 50%;

  cursor: pointer;
}

.slider-arrow-icon {
  width: 100%;
  height: 100%;

  -webkit-mask-image: url("../images/icons/arrow.svg");
  mask-image: url("../images/icons/arrow.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 16px 16px;
  mask-size: 16px 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: #fcfcfc;
}

.slider-prev {
  transform: rotate(90deg);
}

.slider-next {
  transform: rotate(-90deg);
}

.slider-bullets {
  position: absolute;
  top: 100%;
  left: 0;

  display: flex;
  gap: 8px;
}

.slider-bullet {
  padding: 0;
  width: 12px;
  height: 12px;

  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.slider-bullet-current {
  background-color: #fcfcfc;
}

.hero-socials {
  justify-content: end;
  margin-top: 2px;
}

.socials {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 16px;
}

.socials-item {
  display: block;
}

.socials-link {
  display: block;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.socials-icon {
  display: block;
  width: 100%;
  height: 100%;

  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 24px 24px;
  mask-size: 24px 24px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: #fcfcfc;
}

.socials-icon-telegram {
  -webkit-mask-image: url("../images/icons/icons-socials/telegram.svg");
  mask-image: url("../images/icons/icons-socials/telegram.svg");
}

.socials-icon-vk {
  -webkit-mask-image: url("../images/icons/icons-socials/vk.svg");
  mask-image: url("../images/icons/icons-socials/vk.svg");
}

.socials-icon-youtube {
  -webkit-mask-image: url("../images/icons/icons-socials/youtube.svg");
  mask-image: url("../images/icons/icons-socials/youtube.svg");
}

.specials-title {
  text-align: center;
  margin-bottom: 55px;
}

.special-offer-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.special-offer {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 28px;

  padding: 36px;
  padding-right: 219px;

  color: #2d3440;

  background-color: #ff7799;
  background-repeat: no-repeat;
  background-position: right 0 center;
  background-size: 219px auto;
  border-radius: 16px;
}

.special-offer-raspberry {
  background-image: url("../images/raspberry-special.png");
}

.special-offer-marshmallow {
  background-image: url("../images/marshmallow-special.png");
}

.special-offer-desc {
  margin: 0;
  max-width: 304px;
}

.products-title {
  text-align: center;
  margin-bottom: 57px;
}

.product-card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 30px;
}

.product-card {
  display: flex;
  flex-direction: column;

  margin-top: 51px;
  padding: 24px 40px;

  color: #2d3440;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.product-card-img {
  display: block;

  margin: -75px auto 16px;
  width: 168px;
  height: 168px;

  background-color: #fcfcfc;
  border-radius: 50%;

  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.product-card-img img {
  border-radius: 50%;
  object-fit: cover;
}

.product-card-link {
  display: block;
  margin-bottom: 8px;
  color: inherit;
  text-decoration: none;
}

.product-card-title {
  margin: 0;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.product-card-desc {
  margin: 0;
  margin-bottom: 16px;

  line-height: 22px;
  text-align: center;
  color: #565c66;
}

.product-card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.product-card-button {
  padding: 0;
  width: 32px;
  height: 32px;

  background-color: #ff2f64;
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.product-card-button-icon {
  display: block;
  width: 100%;
  height: 100%;

  -webkit-mask-image: url("../images/icons/cart.svg");
  mask-image: url("../images/icons/cart.svg");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 16px 16px;
  mask-size: 16px 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: #fcfcfc;
}

.about {
  padding: 24px;

  background-image: url("../images/backgrounds/waffle-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.about-wrapper {
  padding: 56px 40px;

  background-color: #ffffff;
  border-radius: 16px;
}

.about-title {
  margin-bottom: 56px;
  text-align: center;
}

.about-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 32px;
}

.about-item {
  display: grid;
  grid-template-columns: 48px 1fr;
  column-gap: 16px;
}

.about-item::before {
  content: "";

  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  border: 2px solid #2d3440;
  border-radius: 50%;
}

.about-item-production::before {
  background-image: url("../images/icons/icons-about/icecream.svg");
}

.about-item-partners::before {
  background-image: url("../images/icons/icons-about/cow.svg");
}

.about-item-ingredients::before {
  background-image: url("../images/icons/icons-about/leaf.svg");
}

.about-item-temperature::before {
  background-image: url("../images/icons/icons-about/temperature.svg");
}

.blog-subscribe-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.blog {
  padding: 33px 32px;
  padding-right: 210px;
  min-height: 224px;

  background-image: url("../images/backgrounds/blog-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.blog-subtitle {
  margin: 0;
  margin-bottom: 12px;
  line-height: 20px;
}

.blog-link {
  color: #2d3440;
  text-decoration: none;
}

.subscribe {
  padding: 6px;
  background-image: url("../images/backgrounds/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.subscribe-wrapper {
  padding: 26px;
  padding-bottom: 28px;

  background-color: #ffffff;
  border-radius: 16px;
}

.subscribe-desc {
  margin: 0;
  margin-bottom: 44px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: 18px;

  margin-right: 4px; /* pixel perfect */
}

.subscribe-button {
  width: 152px;
}

.delivery {
  display: grid;
  grid-template-columns: 1fr 500px;
  align-items: center;
  column-gap: 135px;

  padding: 64px;
  padding-left: 100px;

  background-image: url("../images/backgrounds/delivery-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.delivery-content {
  margin-top: 4px;
}

.delivery-title {
  margin-bottom: 24px;
}

.delivery-desc {
  margin: 0;
}

.delivery-form-wrapper {
  padding: 40px;
  padding-bottom: 42px;

  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.delivery-form-desc {
  margin: 0;
  margin-bottom: 32px;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 1fr;
  gap: 20px 16px;
}

.delivery-group-title {
  display: grid;
  grid-template-columns: fit-content(calc(100% - 18px)) 14px;
  align-items: center;
  column-gap: 4px;
}

.tooltip-wrapper {
  position: relative;
}

.tooltip-toggle {
  display: block;
  padding: 0;
  width: 14px;
  height: 14px;

  background-color: unset;
  background-image: url("../images/icons/tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  cursor: help;
}

.tooltip-text {
  z-index: 2;
  position: absolute;
  left: 100%;
  top: -12px;

  display: none;
  margin-left: 8px;
  padding: 10px 8px;
  width: max-content;
  max-width: 163px;

  font-size: 12px;
  line-height: 16px;
  color: #565c66;

  background-color: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(194, 194, 194, 0.2);
}

.tooltip-text::before {
  content: "";

  position: absolute;
  top: 12px;
  left: -6px;

  width: 11px;
  height: 11px;
  transform: rotate(-45deg);

  background-color: #ffffff;
  border-top: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus-within + .tooltip-text {
  display: block;
}

.delivery-label {
  display: block;

  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
}

.delivery-field {
  margin-top: 8px;
  resize: none;
}

.delivery-group-address {
  grid-column: 1 / -1;
}

.delivery-field-address {
  display: block;
}

.delivery-button {
  grid-column: 1 / -1;
  justify-self: center;

  margin-top: 12px;
}

.contacts {
  padding: 64px;

  background-image: url("../images/backgrounds/contacts-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.contacts-wrapper {
  padding: 40px;
  padding-bottom: 42px;
  width: 343px;

  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 12px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #565c66;
}

.contacts-address {
  margin-bottom: 24px;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #2d3440;
}

.contacts-phone {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #2d3440;
  text-decoration: none;
}

.contacts-info {
  margin: 0;
  margin-bottom: 32px;

  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}

.footer {
  display: flex;
  justify-content: space-between;

  padding: 48px 0;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px 0;
}

.footer-nav-link {
  display: block;
  padding-left: 24px;

  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.footer-nav-link-special {
  font-weight: 700;

  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center left 0;
}

.madeby-logo {
  display: block;
  margin-bottom: 14px;
  width: 93px;
}

.madeby-logo img {
  display: block;
}

.madeby-desc {
  margin: 0;

  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
}

.madeby-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(45, 52, 64, 0.5);
}

